* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #990f02;
  height: 100vh;
}
.main_sec {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}
/* name section styles */
.name_sec {
  font-family: cursive;
  display: inline-block;
  color: #ffff;
  margin: 0% 2%;
  font-size: 5vw;
  height: 35vw;
  width: 15vw;
  text-align: center;
  justify-content: center;
}
button {
  display: inline;
  background-color: #990f02;
  border: none;
}
button img {
  width: 4vw;
  height: 4vw;
}
button:hover {
  position: relative;
  top: 5px;
  cursor: pointer;
}
#winner{
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-size: 2vw;
  font-weight: 500;
}
/* game section styles */
.game_sec {
  width: 42vw;
  position: relative;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: 35vw;
}
.game_sec div {
  display: inline-flex;
  background-color: #ffff;
  height: 10vw;
  width: 10vw;
  margin-bottom: 20px;
  margin-right: 20px;
}
.game_sec img {
  position: relative;
  left: 0.5vw;
  top: 0.5vw;
  height: 9vw;
  width: 9vw;
  border: none;
  display: none;
}
.game_sec div:hover {
  position: relative;
  top: 5px;
}
.game_sec h1 {
  font-size: 3.5vw;
  color: #ffff;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2%;
}
#winner {
  display: none;
}
/* score section styles */
.score_sec {
  width: 30%;
  height: 35vw;
}
.player {
  width: 100%;
  height: 16vw;
  border: 2px solid #ffff;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  margin-bottom: 4%;
  padding: 10px 15px;
  color: #ffff;
}
.information h2 {
  font-size: 3.5vw;
  text-align: center;
  font-weight: 400;
}
.information h3 {
  margin-top: 10px;
  font-weight: 700;
  letter-spacing: 5px;
  font-size: 2.5vw;
  text-align: center;
}
.information p {
  text-align: center;
  font-size: 6vw;
  font-weight: 800;
}
.piece {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 40%;
}
.piece div {
  display: inline-block;
  box-sizing: border-box;
}
.piece img {
  height: 3vw;
  width: 3vw;
  display: inline-flex;
}
#img_cross {
  height: 2px;
  width: 2px;
}
